# Google Sign-In uchun Web Client ID (Google Cloud Console dan oling)
# https://console.cloud.google.com/apis/credentials
# OAuth 2.0 Client ID (Web application turi)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=932962129896-ok81ch0hq0fdtpek2tu59p9o9cus3nek.apps.googleusercontent.com